<link rel="stylesheet" type="text/css" href="css/login.css">
<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4">
        <h1 class="text-center login-title">Activation</h1>
        <div class="account-wall">
            <img class="profile-img" src="img/user.png" alt="">
            <form class="form-signin" ng-submit="activate()">
                
                <input type="text" 
                    ng-model="email"
                    class="form-control" 
                    placeholder="Email" required autofocus>

                <input type="text" 
                    ng-model="activationCode"
                    class="form-control" 
                    placeholder="Activation Code" required>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Activate</button>
                <button class="btn btn-lg btn-primary btn-block" ngClick="resendCode()" >Resend</button>
                <!-- <label class="checkbox pull-left">
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span> -->
            </form>
        </div>
        <a ui-sref="register" class="text-center new-account">Register</a>
    </div>
</div>
