<div id="Header">
<div class="wrapper">
    <h1>PLN Belitung</h1>   
</div>
</div>
<h2 class="intro" style="text-align: center">
Manajemen data pelanggan PLN daerah Belitung.</br>Mendukung sinkronisasi dengan aplikasi android (Alpukat)
<!-- Our website is under construction. Stay tuned for something amazing!. Subscribe to be notified. -->
</h2>
<div id="subscribe"> 
    <form action="" method="post" onsubmit="">
        <p>
        <input placeholder="Email" type="text">
        <input placeholder="Password" type="password">
        <input type="button" value="Login">
        </p>
    </form>
</div>

<div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 613px; width: 1366px; z-index: -999999; position: fixed;">
<img src="img/road2.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1366px; height: 891.990885416667px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -139.495442708333px;">
</div>


<!-- <div class="row">
    <p>
        <a ui-sref="dashboard.home" ng-show="token">Dashboard</a>
        <a ui-sref="login" ng-hide="token">Login</a>
        <a ui-sref="register" ng-hide="token">Register</a>
        <a ui-sref="logout" ng-show="token" ng-click="logout()">Logout</a>
    </p>
    <h3>What is ui-router?</h3>
    <p>URL routing is a popular approach to matching the contents of a URL to specific functionality within a web application. URL routes programmatically present specific content to users based on the URL that they are visiting. It is a popular approach that has proven to be very effective.</p>

    <P>Something that might not be obvious is that URL routing is also a finite state machine. When you configure the routing for an app, you are laying out the various states the application can be in, and informing the application what to display and do when a specific route is encountered.</P>

    <p>AngularJS supplies URL routing by default. It is adequate, but also has some limitations.</p>
</div>
 -->