<div class="container" ng-controller="adminCtrl">
<h2>User Management</h2>
<table class="table">
<tr>
	<td>No</td>
	<td>Email</td>
	<td>Username</td>
	<td>Phone</td>
	<td>Role</td>
	<td>Action</td>
</tr>
<tr ng-repeat="u in users" ng-if="u.email != user.email">
	<td>{{$index+1}}</td>
	<td>{{u.email}}</td>
	<td>{{u.username}}</td>
	<td>{{u.phone}}</td>
	<td>{{u.role}}</td>
	<td>
		<button class="btn btn-sm btn-danger w90" 
			ng-show="u.status == 1"
			ng-click="disable(u, 2)">Non Aktifkan</button>
		<button class="btn btn-sm btn-success w90" 
			ng-show="u.status == 2"
			ng-click="disable(u, 1)">Aktifkan</button>
	</td>
</tr>
</table>
</div>